<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id = "org.benjaminrous.musictheoryapp"
	version = "0.0.3">

	<name>Music Theory App</name>

	<description>
		This is a test of how to create a phone app, with a view to creating a music theory app.
	</description>

	<author href="http://benjaminrous.org"
		email="email@benjaminrous.org">
		Benjamin Rous
	</author>

	<icon src="icon.png" gap:role="default" width="78" height="99" />
	<gap:splash src="splash.png" width="159" height="166" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>